## One Hot Encoding-Variables with many categories

In [21]:
#https://www.kaggle.com/datasets/philanipro/mercedesbenz-greener-manufacturing
import pandas as pd
import numpy as np
#lets load the mercedes benz dataset for demonstration only the categorical variable
data = pd.read_csv('mercedesbenz.csv')
data

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,8405,107.39,ak,s,as,c,d,aa,d,q,...,1,0,0,0,0,0,0,0,0,0
4205,8406,108.77,j,o,t,d,d,aa,h,h,...,0,1,0,0,0,0,0,0,0,0
4206,8412,109.22,ak,v,r,a,d,aa,g,e,...,0,0,1,0,0,0,0,0,0,0
4207,8415,87.48,al,r,e,f,d,aa,l,u,...,0,0,0,0,0,0,0,0,0,0
4208,8417,110.85,z,r,ae,c,d,aa,g,w,...,1,0,0,0,0,0,0,0,0,0

In [34]:
data = pd.read_csv('mercedesbenz.csv', usecols = ['X1', 'X2', 'X3', 'X4', 'X5', 'X6'])
data

     X1  X2 X3 X4  X5 X6
0     v  at  a  d   u  j
1     t  av  e  d   y  l
2     w   n  c  d   x  j
3     t   n  f  d   x  l
4     v   n  f  d   h  d
...  ..  .. .. ..  .. ..
4204  s  as  c  d  aa  d
4205  o   t  d  d  aa  h
4206  v   r  a  d  aa  g
4207  r   e  f  d  aa  l
4208  r  ae  c  d  aa  g

[4209 rows x 6 columns]

In [23]:
#let's have a look at how many Labels each variables has 
for col in data.columns:
    print(col, ';', len(data[col].unique()),'labels')

X1 ; 27 labels
X2 ; 44 labels
X3 ; 7 labels
X4 ; 4 labels
X5 ; 29 labels
X6 ; 12 labels

In [37]:
# lets examine how many columns we will obtain one hot encoding these variable
dummies  = pd.get_dummies(data, drop_first=True)

In [38]:
dummies

,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,X1_i,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4204,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
4205,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,False
4206,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4207,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4208,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

We can observe that from with just 2 categorical features we are getting 69 features with the help of one hot encoding.

### KDD Cup Orange Challenge
What can we do instead?

http://proceedings.mlr.press/v7/niculescu09/niculescu09.pdf In the winning solution of the KDD 2009 cup: "Winning the KDD Cup Orange Challenge with Ensemble

The Team suggested using 10 most frequent labels convert them into dummy variables using onehotencoding

How can we do that in python?

In [50]:
# lets find the top 10 most frequent categories for the variable x2
data.X1.value_counts().sort_values(ascending = False).head(30)

X1
aa    833
s     598
b     592
l     590
v     408
r     251
i     203
a     143
c     121
o      82
w      52
z      46
u      37
e      33
m      32
t      31
h      29
y      23
f      23
j      22
n      19
k      17
p       9
g       6
d       3
q       3
ab      3
Name: count, dtype: int64

In [41]:
# lets find the top 10 most frequent categories for the variable x2
dummies.X1_aa.value_counts().sort_values(ascending = False).head(20)

X1_aa
False    3376
True      833
Name: count, dtype: int64

In [51]:
# lets find the top 10 most frequent categories for the variable x2
data.X2.value_counts().sort_values(ascending = False).head(30)

X2
as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
d       18
ac      13
g       12
ap      11
y       11
x       10
aw       8
at       6
h        6
al       5
Name: count, dtype: int64

In [46]:
top10 = [x for x in data.X2.value_counts().sort_values(ascending = False).head(10).index]
top10

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [48]:
# and now we make the 10 binary variable 
for label in top10:
    data[label] = np.where(data['X2']==label, 1,0)
data[['X2']+top10].head(40)

    X2  as  ae  ai  m  ak  r  n  s  f  e
0   at   0   0   0  0   0  0  0  0  0  0
1   av   0   0   0  0   0  0  0  0  0  0
2    n   0   0   0  0   0  0  1  0  0  0
3    n   0   0   0  0   0  0  1  0  0  0
4    n   0   0   0  0   0  0  1  0  0  0
5    e   0   0   0  0   0  0  0  0  0  1
6    e   0   0   0  0   0  0  0  0  0  1
7   as   1   0   0  0   0  0  0  0  0  0
8   as   1   0   0  0   0  0  0  0  0  0
9   aq   0   0   0  0   0  0  0  0  0  0
10   r   0   0   0  0   0  1  0  0  0  0
11   e   0   0   0  0   0  0  0  0  0  1
12  ai   0   0   1  0   0  0  0  0  0  0
13   e   0   0   0  0   0  0  0  0  0  1
14  as   1   0   0  0   0  0  0  0  0  0
15  ak   0   0   0  0   1  0  0  0  0  0
16   e   0   0   0  0   0  0  0  0  0  1
17  as   1   0   0  0   0  0  0  0  0  0
18   m   0   0   0  1   0  0  0  0  0  0
19  ak   0   0   0  0   1  0  0  0  0  0
20   m   0   0   0  1   0  0  0  0  0  0
21  as   1   0   0  0   0  0  0  0  0  0
22   a   0   0   0  0   0  0  0  0  0  0
23   m   0   0   0  1   0  0  0  0  0  0
24  ak   0   0   0  0   1  0  0  0  0  0
25   m   0   0   0  1   0  0  0  0  0  0
26  as   1   0   0  0   0  0  0  0  0  0
27  as   1   0   0  0   0  0  0  0  0  0
28  as   1   0   0  0   0  0  0  0  0  0
29   m   0   0   0  1   0  0  0  0  0  0
30  as   1   0   0  0   0  0  0  0  0  0
31  as   1   0   0  0   0  0  0  0  0  0
32   m   0   0   0  1   0  0  0  0  0  0
33  as   1   0   0  0   0  0  0  0  0  0
34  as   1   0   0  0   0  0  0  0  0  0
35  ai   0   0   1  0   0  0  0  0  0  0
36  as   1   0   0  0   0  0  0  0  0  0
37   k   0   0   0  0   0  0  0  0  0  0
38  as   1   0   0  0   0  0  0  0  0  0
39  as   1   0   0  0   0  0  0  0  0  0

In [54]:
#get whole set of dummy variables, for all categorical variables
def one_hot_top_x(df, variable, top_x_labels):
    #function to create the dummy variables for the frequent labels 
    #we can vary the number of most frequent tables that we encode
    for label in top_x_labels:
        df[variable+''+label] = np.where(data[variable]==label, 1,0)
#read the data again
data = pd.read_csv('mercedesbenz.csv', usecols = ['X1','X2','X3','X4','X5','X6'])
#encodeX2 into the 10 most frequent categories
one_hot_top_x(data, 'X2', top10)
data.head()

  X1  X2 X3 X4 X5 X6  X2as  X2ae  X2ai  X2m  X2ak  X2r  X2n  X2s  X2f  X2e
0  v  at  a  d  u  j     0     0     0    0     0    0    0    0    0    0
1  t  av  e  d  y  l     0     0     0    0     0    0    0    0    0    0
2  w   n  c  d  x  j     0     0     0    0     0    0    1    0    0    0
3  t   n  f  d  x  l     0     0     0    0     0    0    1    0    0    0
4  v   n  f  d  h  d     0     0     0    0     0    0    1    0    0    0

In [55]:
# find the 10 mostfrequent categories for X1 
top10 = [x for x in data.X1.value_counts().sort_values(ascending = False).head(10).index]
#now ceate the 10 most frequent dummy variables for X1
one_hot_top_x(data, 'X1', top10)
data.head()

,X1,X2,X3,X4,X5,X6,X2as,X2ae,X2ai,X2m,...,X1aa,X1s,X1b,X1l,X1v,X1r,X1i,X1a,X1c,X1o
0,v,at,a,d,u,j,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,t,av,e,d,y,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,w,n,c,d,x,j,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,t,n,f,d,x,l,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,v,n,f,d,h,d,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0